ul {
  list-style-type: none;
  overflow: hidden;
  padding-left: var(--size-100);
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: var(--size-14);
}

li a:hover {
  text-decoration: underline;
}

.links {
  padding: 8px;
}

.grid {
  height: 23px;
  bottom: 4px;
  margin-right: var(--size-15);
}

.user {
  display: flex;
  justify-content: center;
  width: 25%;
  border-radius: var(--size-20);
  margin-top: 5px;
  margin-right: var(--size-30);
  float: right;
}

/* Start of Search Bar section */

.logo {
  margin-right: 28px;
  margin-left: var(--size-10);
}

.bar {
  /* margin: 0 90px 0 0px; */
  height: var(--size-40);
  min-width: 700px;
  width: 700px;
  border-radius: var(--size-30);
  border: 1px solid #dcdcdc;
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.searchbar {
  height: 29px;
  border: none;
  width: 500px;
  font-size: var(--size-16);
  outline: none;
  padding: 0;
  margin-top: 5px;
  margin-left: var(--size-16);
}

.g_close {
  height: var(--size-15);
  width: var(--size-15);
  margin-left: 43px;
  top: 2px;
  position: relative;
}

.vl {
  position: absolute;
  height: var(--size-20);
  left: 912px;
  top: 46px;
  border-left: solid 1px grey;
}

.voice {
  height: var(--size-18);
  position: relative;
  top: 5px;
  left: var(--size-40);
}

.magnify {
  position: relative;
  height: var(--size-20);
  width: var(--size-20);
  top: 5px;
  left: 55px;
}

/* End of Search Bar section */

/* Start of Menu section */

.menu {
  display: flex;
  justify-content: center;
  min-width: 700px;
  margin-top: var(--size-10);
  padding-bottom: var(--size-10);
}

.g-icons {
  width: var(--size-16);
  height: var(--size-14);
  margin-right: 4px;
}

.menu-items {
  padding-right: var(--size-20);
}

div > span:nth-child(13) {
  margin-left: 68px;
}

/* End of Menu section */

hr {
  width: 98%;
  margin-top: var(--size-20);
}

/* Start of First Results section */

.speed {
  display: flex;
  justify-content: center;
  margin-top: var(--size-12);
  margin-right: 342px;
  margin-bottom: var(--size-20);
  font-size: var(--size-12);
  color: #87898C;
}

.result {
  display: flex;
  align-items: center;
  margin-left: 331px;
  font-size: var(--size-12);
}

.arws-right {
  width: var(--size-14);
}

.arws-down {
  width: var(--size-18);
}

.result-title {
  display: flex;
  margin-top: 6px;
  margin-left: 331px;
  font-size: var(--size-16);
  color: blue;
}

.result2 {
  display: block;
  margin: 4px 332px 24px;
}

.p-results {
  margin-top: 5px;
  margin-bottom: -8px;
  line-height: var(--size-18);
  font-size: var(--size-12);
}

.sub-results {
  display: flex;
  align-items: center;
  font-size: var(--size-12);
  color: blue;
}

.dot {
  width: 2px;
  margin-right: 5px;
  margin-left: 5px;
}

/* End of First Results section */

/* Start of "People Also Ask" Section */

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  margin-left: 330px;
}

th {
  float: left;
  margin: 0;
  border: none;
}

.table-header {
  font-size: var(--size-16);
}

.table, .table-header {
  padding: var(--size-10);
}

.arrow-down {
  width: var(--size-20);
  margin-left: 282px;
  float: right;
}

.feedback {
  display: flex;
  justify-content: center;
  float: right;
  margin-top: 4px;
  margin-right: 325px;
  font-size: var(--size-10);
}

/* End of "People Also Ask" Section */

/* Start of Footer */

.next {
  display: flex;
  margin: auto;
  padding-top: var(--size-10);
  align-items: center;
  justify-content: center;
  width: 30%;
}


/* End of Footer */

































/* .buttons {
  margin-top:30px;
}

.button {
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}

.button:hover {
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}

.button:focus {
  border:1px solid #4885ed;
  padding: 9px 19px;
} */


